body {
    font-family: sans-serif;
    margin: 0;
    background-color: white;
    color: #333;
}

header {
    background-color: #AB0000;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffc107;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

  

.fc .fc-daygrid-day.fc-day-today {
    background-color: #3CB371 !important;
}


}